# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
src/generated

# Files from Forge MDK
forge*changelog.txt
copy.bat
run-data/config/fml.toml
zh.txt
libs
/libs
